<!DOCTYPE html>
<body>
	<%= link_to "Back to notes", notes_path, :class => "link"%><br><br><br>
	<div id="notes">
	<b>Title : </b><%=@note.name%><br>
  	<b>Details : </b><%=@note.info%><br><br><br>
  	</div>

  	<%= link_to "Edit Note", edit_note_path(@note), :class => "link3"%>

  	<form method="post" action="<% note_path(@note) %>">
  	<input type="hidden" name="_method" value="delete">
    
</form>
	<br><br>
	<%= link_to "Sil", note_path(@note), method: :delete , :class => "link2"%>
</body>
</html>